@model List<ParkingSpaceViewModel>

@{ 
    ViewData["Title"] = "Approve Parking Spaces";
}

<h1>Approve parking spaces</h1>

<table class="table table-striped">
    <tbody>
        @foreach (var space in Model)
        {
            <tr>
                <td>@space.Name</td>
                <td>@space.StreetName</td>
                <td>@space.Description</td>
                <td>@space.HourlyPrice</td>
                <td>
                    <a href=@("https://google.com/search?q=" + space.GPS.Replace(" ","")) target="_blank">GGL</a> / 
                    <a href=@("https://duckduckgo.com/?q=" + space.GPS.Replace(" ","") + "&ia=web&iaxm=maps") target="_blank">DDG</a>
                </td>
                <td><a class="btn btn-danger" asp-action="ApproveParkingSpace" asp-controller="Administration" asp-route-parkingSpaceId="@space.Id">Approve</a></td>
            </tr>
        }
    </tbody>
</table>