@model List<ParkingSpaceViewModel>
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "My Parking Spaces";
}

<h1>My parking spaces</h1>

<p>
    @foreach (var parkingSpace in Model)
    {
        <span>
            @parkingSpace.Name - @parkingSpace.StreetName -

        </span>
        @if (parkingSpace.IsApproved == false)
        {
            <span>Pending approval</span>
        }
        else if (parkingSpace.IsApproved == true)
        {
            <span>Approved</span>
        }
    }
</p>
<hr />
<h3>API data</h3>
<p>Parking spaces owned by: @userManager.GetUserId(User)</p>
<p hidden id="userId">@userManager.GetUserId(User)</p>

<p id="parkingSpacesContainer">

</p>

<p>City selector</p>
<p>Area selector</p>


<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="parkingSpaceName"></label>
                <input type="text" id="parkingSpaceName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="streetName"></label>
                <input type="text" id="streetName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="priceHour"></label>
                <input type="number" id="priceHour" class="form-control" />
            </div>
            <button id="submitNewParkingSpace" class="btn btn-primary">Submit Parking Space for Approval</button>
        </form>
    </div>
</div>

<h1> new JS area</h1>

<div class="text-center">
    <p hidden id="userId">@userManager.GetUserId(User)</p>
    <div id="takenCardContainer">



    </div>

    <div id="citiesContainer">
        <label for="citiesSelect">Select a city:</label>
        <select name="citiesSelect" id="citiesSelect">
            <option value="0">Select City...</option>
        </select>
    </div>

    <div id="areasContainer">
        <label for="areasSelect">Select an Area:</label>
        <select name="areasSelect" id="areasSelect">
            <option value="0">Select an Area...</option>
        </select>
    </div>

    <div id="searchBarContainer">

    </div>

    <table class="table">
        <tbody id="spacesContainer">
        </tbody>
    </table>
    <div id="spacesContainer">

    </div>

</div>

@section Scripts {
    <script type="module" src="~/js/spaces.js"></script>
    <script type="module" src="~/js/utilsAPI.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
